body {
  height: 3000px;
}

.jumbotron {
  padding-top: 7rem;
  background-color: #cdfcd4;
}

#projects {
  background-color: #cdfcd4;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
